In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Churn_Modelling.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9963 non-null   object
 6   Age              9949 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

#### 37 null values in Gender , 51 null values in Age

In [4]:
df.isnull().sum()

RowNumber           0
CustomerId          0
Surname             0
CreditScore         0
Geography           0
Gender             37
Age                51
Tenure              0
Balance             0
NumOfProducts       0
HasCrCard           0
IsActiveMember      0
EstimatedSalary     0
Exited              0
dtype: int64

## Handling missing values

#### 1. Deleting the columns with missing data

In [5]:
updated_df=df.dropna(axis=1) # not a wise decision in this case because very small amount of values were missing for them we can't loose that much of valuable information

In [6]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

#### 2. Forward and backward filling

## Feature Scaling

In [ ]:
                                                # Person       Height (cm)         Weight (kg)     
                                                #   A	            150                 50 
                                                #   B	            160                 60
                                                #   C	            170                 80
                                                #   D               156                 65

            
# Observation

# Height ranges: 150 → 170

# Weight ranges: 50 → 80

# Height has range 20, weight has range 30
# → Weight varies more → ML models that use distance will give more importance to weight.


# Techniques - 1. Standard Scaler(Standardisation) - used if data is normally distributed

                        # Z-score=(x-mean)/standard deviation 

#              2. Min-Max Scaler(Normalisation) - used if data is not normally distributed 
                        # x_snormalised=(x-min)/(max-min)

## Outlier treatment

### Outliers are the most extremes values in the data. It is an abnormal observations that deviate from the norm. Outliers do not fit in the normal behavior of the data.

### Detect Outliers using following methods -

##### 1. Boxplot
##### 2. Histogram
##### 3. Scatter plot
##### 4. Z-score
##### 5. Inter quartile range(values out of 1.5 time of IQR)

### Handle Outlier using following methods - 

##### 1.Remove the outliers.
##### 2. Replace outlier with suitable values by using following methods :-
#####     . Quantile method
#####     · Inter quartile range
##### 3. Use that ML model which are not sensitive to outliers
##### 4. Like :- KNN, Decision Tree, SVM, Naïve Bayes, Ensemble methods