## Missing data

##### Finding missing data

##### Removing missing data

##### Filling missing data

In [27]:
import numpy as np
import pandas as pd

In [28]:
data = {
'A': [1, 2, np.nan, 4, 5],
'B': [1, 2, 3, 4, 5],
'C': [1, 2, 3, np.nan, np.nan],
'D': [1, np.nan, np.nan, np.nan, 5]
}
df=pd.DataFrame(data)

In [29]:
df.isna().sum() # gives number of null values in each row
df.isna().any() # returns if null or not

A     True
B    False
C     True
D     True
dtype: bool

In [30]:
df.dropna() # drop rows which contains null values
df.dropna(thresh=3) # thresh=threshold means atleast 3 non null values

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  NaN
4  5.0  5  NaN  5.0

In [31]:
# filling the missing data

# df.fillna(0,inplace=True)
# df

In [32]:
values={'A':0,'B':100,'C':300,'D':400}
df.fillna(value=values) # fillna does column wise selection

     A  B      C      D
0  1.0  1    1.0    1.0
1  2.0  2    2.0  400.0
2  0.0  3    3.0  400.0
3  4.0  4  300.0  400.0
4  5.0  5  300.0    5.0