## groupby and aggregation

In [32]:
import numpy as np
import pandas as pd

In [33]:
data={
'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
'Date' : pd.date_range('2023-01-01', periods=8)
}
df=pd.DataFrame(data)
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

#### groupby

In [34]:
# groupby category and calculate the sum of sales

cat=df.groupby('Category')
cat
for i,v in cat:
    print(i)
    print(v)
cat=df.groupby('Category')['Sales'].sum()
cat

A
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
2        A    S2    150        12 2023-01-03
4        A    S1    120         8 2023-01-05
6        A    S2    200        15 2023-01-07
B
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2023-01-02
3        B    S2    250        18 2023-01-04
5        B    S2    180        20 2023-01-06
7        B    S1    300        25 2023-01-08

Category
A    570
B    930
Name: Sales, dtype: int64

In [35]:
# groupby store and calculate the sum of sales

cat=df.groupby('Store')['Sales'].sum()
cat

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [36]:
# groupby multiple columns
# groupby category and store

cat=df.groupby(['Category','Store'])['Sales'].sum()
cat

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

#### aggregation

In [37]:
# mean , median , mode , min , max , SD(std) , variance

df['Sales'].mean()

np.float64(187.5)

In [38]:
df['Sales'].agg(['mean','median','std','min','max'])

mean      187.500000
median    190.000000
std        66.062741
min       100.000000
max       300.000000
Name: Sales, dtype: float64